<div id="info">
  <div id="avatar"></div>
  <div id="user_info">
    <%= @user.name %></br>
    <%= @user.dob %></br>
  </div>
  <div id="contact">
    <%= @user.email %>
  </div>

  <!-- iterate over @users friends (we set @user in the controller) -->
  <div id="friends">
    <h3>Friends</h3>
    <% @user.friends.each do |user| %>
      <div id="friend"><%= link_to user.name, user_path(user) %></div>
    <% end %>
  </div>
</div>